body {
    background-color: #e0e0e0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

html {
    height: 100%;
    min-height: 100%;
}

#ConteudoSite {
    margin-top: 70px;
}

.info-pai {
    width: 100%;
    height: 85%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__filho {
    width: 100%;
    padding: 40px 15px;
    max-width: 1200px;
    height: 100%;
    min-height: 447px;
    margin: 20px;
}

.card {
    margin-top: 7px;
    color: wheat;
    background-color: #4a4a4a;
    /*    border: 4px solid;
    border-image: linear-gradient( 132deg, #3d987c 0%, #27614f 100%) 1;*/
    background: linear-gradient(90deg, rgba(74,74,74,1) 0%, rgba(15,15,15,1) 100%);
}

.btn-danger {
    color: #FFFEFE;
    background-color: darkred;
    border-color: darkred;
}
#footerMain {
    /*    page-break-after: always;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px;
    text-align: center;*/
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.tab-list-vagas {
    background-color: black;
    color: white;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #62c0a3;
    border-color: #62c0a3;
}

.alertemail {
    position: relative;
    padding: 2px 12px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.perfil-infos {
    margin: 10px;
    background-color: dimgrey;
    border: 5px double #62c0a3;
}

.botoes-perfil {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#fontePerfil {
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.botoes-entrar {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#cadastroLogin {
    background-color: #4fb961;
    border-color: #4fb961;
}

#ativobotao {
    background-color: #1f4f28;
    border-color: #1f4f28;
}

#Nome-UsuarioHeader {
    margin-right: 10px;
    color: antiquewhite;
    background-color: black;
    border-width: 4px;
    border-color: aqua;
}

.botao-voluntariar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.accordion-item {
    border: 0px solid rgba(0,0,0,0);
}

.AdmVisualizando {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Adm-Mensagem {
    max-width: 500px;
    display: flex;
    justify-content: center;
}

#Adm__Mensagem {
    display: flex;
    justify-content: center;
}

#MeuPerfilButton {
    color: white;
}

#sairButton {
    color: white;
}

#dropItens {
    background-color: dimgrey;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

#footerSite {
    width: 100%;
    background-color: #62c0a3;
}

.footer {
    display: grid;
    padding: 24px 16px;
    width: 100%;
    margin: 0 auto;
    max-width: 1799px;
    background-color: #62c0a3;
}

#footer-pai {
    display: flex;
}

#entrar-sairHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.Botao-MinhasVagas {
    background-color: #cc9900;
}

.Botao-VagasCandidatadas {
    background-color: #007e00;
}

.marginesquerda-99 {
    margin-left: 0.25rem !important;
    width: 99%;
}

.vertodoseventos {
    width: 100%;
}

.verEventos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#SalvarAvaliar {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#EstrelasAvaliar {
    display: flex;
    justify-content: space-around
}

#ModalAvaliar {
    background-color: #130d00;
}

#TituloModalAvaliar {
    color: white;
}

#TituloAvaliarAjuste {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ConjuntoEstrelas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.MediaEstrelas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ListVoluntarios_Columm {
    text-align: center;
    vertical-align: middle;
}

.btn-Cinza {
    color: #f0f4f9;
    background-color: #5c5b6c;
    border-color: #5c5b6c;
}

.CorTabs {
    color: black
}