@using Microsoft.AspNetCore.Http;
@{
    string Login = Context.Session.GetString("Login"); //Session
    string Logado = Context.Request.Cookies["Logado"]; //Cookie

    string NomeUsuario = Context.Session.GetString("UsuarioLogado"); //Session
    string PrimeiroNomeUsuario = Context.Request.Cookies["UsuarioLogado"]; //Cookie

}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Be a Helper</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/templateboot/public/assets/img/favicons/apple-touch-icon.png">
    @*<link rel="icon" type="image/png" sizes="32x32" href="/templateboot/public/assets/img/favicons/favicon-32x32.png">*@
    @*<link rel="icon" type="image/png" sizes="16x16" href="/templateboot/public/assets/img/favicons/favicon-16x16.png">*@
    <link rel="icon" type="image/png" sizes="32x32" href="/templateboot/public/assets/img/favicons/beahelper-favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/templateboot/public/assets/img/favicons/beahelper-favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/templateboot/public/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/templateboot/public/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/templateboot/public/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#62c0a3">
    <link href="/templateboot/public/assets/css/theme.css" rel="stylesheet" />
    <link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />
    <link href="/css/cookies.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
</head>


<body style="height: 100%;padding: 0;margin: 0;">
    <div style="position: relative; display: flex; min-height: 100%; flex-direction: column; justify-content: space-between; ">
        <div class="SiteCompleto" style="min-height: 100%;">
            <main class="main" id="top">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll" id="navbarId">
                    <div class="container">
                        <a class="navbar-brand" id="logoSiteBAH" href="/"><img src="/img/LogoSite.png" alt="Logo Site" /></a>
                        <button class="navbar-toggler" id="navbarOptions" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
                        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
                                <li class="nav-item px-2"><a class="nav-link" href="/evento/cadastrar">Criar Evento</a></li>
                                <li class="nav-item px-2"><a class="nav-link" href="/evento">Eventos</a></li>
                                <li class="nav-item px-2"><a class="nav-link" href="/voluntario">Voluntários</a></li>
                                @if (Logado != null || Login != null)
                                {
                                    <li>
                                        <span id="group">
                                            <a class="btn" href="/notificacao">
                                                <img id="imgNotificacao" width="30" height="30" src="/img/NotificacaoSemFundo.png" alt="Notificação" />
                                            </a>
                                            <span id="nPopup" class="popupNotify popupNotify-light" style="display:none">0</span>
                                        </span>
                                    </li>
                                }
                            </ul>
                            @*<div class="dropdown d-none d-lg-block">
                        <button class="btn bg-soft-warning ms-2" id="dropdownMenuButton1" type="submit" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-search text-warning"></i></button>
                        <div class="dropdown-menu dropdown-menu-lg-end p-0 rounded" aria-labelledby="dropdownMenuButton1" style="top:55px">
                            <form>
                                <input class="form-control border-200" type="search" placeholder="Pesquisar" aria-label="Search" style="background:#FDF1DF;" />
                            </form>
                        </div>
                    </div>*@
                            @if (Logado == null && Login == null)
                            {
                                <a class="btn btn-dark me-md-2 order-1 order-lg-0 ms-lg-3" href="/login" style="margin-right: 0 !important;">Entrar</a>
                            }
                            else
                            {
                                <ul class="navbar-nav">
                                    <li class="dropdown">
                                        @if (@NomeUsuario != null)
                                        {
                                            <a class="btn dropdown-toggle me-md-2 order-1 order-lg-0 ms-lg-3" href="#" role="button" id="Nome-UsuarioHeader" data-bs-toggle="dropdown" aria-expanded="false">
                                                @NomeUsuario
                                            </a>
                                        }
                                        else if (@PrimeiroNomeUsuario != null)
                                        {
                                            <a class="btn dropdown-toggle me-md-2 order-1 order-lg-0 ms-lg-3" href="#" role="button" id="Nome-UsuarioHeader" data-bs-toggle="dropdown" aria-expanded="false">
                                                @PrimeiroNomeUsuario
                                            </a>
                                        }
                                        <ul class="dropdown-menu" id="dropItens" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" id="MeuPerfilButton" href="/perfil">Meu Perfil</a></li>
                                            @*<li><a class="dropdown-item" id="MeuPerfilButton" href="/perfil/meuseventos ">Meus Eventos</a></li>
                                            <li><a class="dropdown-item" id="MeuPerfilButton" href="/perfil/eventoscandidatados ">Eventos Voluntariádos</a></li>*@
                                            <li><a class="dropdown-item" id="sairButton" href="/Login/logout">Sair</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </nav>
                <div class="container" id="ConteudoSite">
                    <div>
                        @RenderBody()
                    </div>
                </div>

                <!-- Modais -->
                <div class="modal fade" id="confirmar-excluir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Excluir Evento</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Deseja mesmo excluir a evento?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <a class="btn btn-danger" href="/evento/excluir/@ViewBag.Id">Excluir</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><b>Cookies</b></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <b>Cookies</b>: Guardamos estatísticas de visitas para melhorar sua experiência de navegação. Ao continuar, você concorda com nossa <a href=""><strong style="color:black">política de privacidade</strong></a>.
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-secondary" onclick="SalvarConcordancia();">Concordo</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cookies-container" style="display:none">
                    <div class="cookies-content">
                        <div class="cookies-pref">
                            <b>Cookies</b>: Guardamos estatísticas de visitas para melhorar sua experiência de navegação. Ao continuar, você concorda com nossa <a href="#"><strong>política de privacidade</strong></a>.
                        </div>
                        <button class="btn btn-secondary" onclick="SalvarConcordancia();">Concordo</button>
                    </div>
                </div>


                <div class="modal fade" id="compartilhar-evento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><b>Compartilhar com..</b></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="hideMessage()"></button>
                            </div>
                            <div class="modal-body" id="center-itens">
                                <a href="javascript:void(0)" data-toogle="tooltip" title="Compartilhar no Facebook" onclick="hideMessage()" target="_blank" id="CompartilharFacebook" class="me-md-2">
                                    <img width="45" height="45" src="/img/facebook.png" alt="Compartilhar no Facebook">
                                </a>
                                <a href="javascript:void(0)" id="CompartilharWpp" data-toogle="tooltip" target="_blank" onclick="hideMessage()" title="Compartilhar no WhatsApp" class="me-md-2">
                                    <img width="45" height="45" src="/img/whatsapp.png" alt="Compartilhar no WhatsApp">
                                </a>
                                <p class="mensagem">Copiado!</p>
                                <a href="javascript:void(0)" id="copylink" onclick="CopiarLink()" data-toogle="tooltip" title="Copiar Link" class="me-md-2">
                                    <img width="45" height="45" src="/img/Copylink.png" alt="Copiar link">
                                </a>
                                <a href="javascript:void(0)" id="GerarQrcode" onclick="hideMessage()" target="_blank" data-toogle="tooltip" title="Gerar Código QR" class="me-md-2">
                                    <img width="45" height="45" src="/img/QrCode.png" alt="Gerar Código QR">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim Modais -->

            </main>
        </div>
        <footer class="FoooterSite" style="bottom: 0; left: 0; width: 100%; height: 100%; margin-top: 12px;">
            <section class="bg-900 pb-0 pt-2">

                @if (ViewBag.FooterPrecisa != false)
                {
                    <section class="bg-900 pb-0 pt-3">

                        <div>
                            <ul class="nav justify-content-center pb-4">
                                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted"><b>Inicio</b></a></li>
                                <li class="nav-item"><a href="/evento/cadastrar" class="nav-link px-2 text-muted"><b>Criar Evento</b></a></li>
                                <li class="nav-item"><a href="/evento" class="nav-link px-2 text-muted"><b>Eventos</b></a></li>
                                <li class="nav-item"><a href="/home/quemsomosnos" class="nav-link px-2 text-muted"><b>Sobre nós</b></a></li>
                            </ul>
                        </div>

                    </section>}
                <section class="py-0 bg-1000">
                    <div class="container">
                        <div class="row justify-content-md-between justify-content-evenly py-3">
                            <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                                <p class="fs--1 my-2 fw-bold text-200">Todos direitos reservados &copy; Be a Helper, @DateTime.Now.Year</p>
                            </div>
                            <div class="col-12 col-sm-8 col-md-6">
                                <p class="fs--1 my-2 text-center text-md-end text-200">
                                    <b class="fw-bold text-primary">&nbsp;BE A HELPER</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

            </section>
        </footer>
    </div>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
    <script src="/templateboot/public/vendors/popperjs/popper.min.js"></script>
    <script src="/templateboot/public/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/templateboot/public/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/templateboot/public/vendors/fontawesome/all.min.js"></script>
    <script src="/templateboot/public/assets/js/theme.js"></script>
    <script src="/js/Modais.js"></script>
    <script defer type="text/javascript" src="/js/Voluntariar.js"></script>
    <script src="~/js/QrCode.js"></script>
    <script defer type="text/javascript" src="/js/Login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/js/all.min.js"></script>
    <script src="/js/funcoes.js"></script>
    <script src="/js/layout.js"></script>
    <!-- ===============================================-->
    <!--  FIM  JavaScripts-->
    <!-- ===============================================-->

</body>

</html>