@using Microsoft.AspNetCore.Http;
@{
    string Login = Context.Session.GetString("Login");
    string NomeUsuario = Context.Session.GetString("UsuarioLogado");
}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Be a Helper</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/templateboot/public/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/templateboot/public/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/templateboot/public/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/templateboot/public/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/templateboot/public/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/templateboot/public/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#62c0a3">
    <link href="/templateboot/public/assets/css/theme.css" rel="stylesheet" />

    <link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />
</head>


<body>
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container">
                <a class="navbar-brand" href="/">Be a Helper</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
                <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
                        <li class="nav-item px-2"><a class="nav-link" href="/vaga/cadastrar">Criar Evento</a></li>
                        <li class="nav-item px-2"><a class="nav-link" href="/vaga">Lista de Eventos</a></li>
                    </ul>
                    <div class="dropdown d-none d-lg-block">
                        <button class="btn bg-soft-warning ms-2" id="dropdownMenuButton1" type="submit" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-search text-warning"></i></button>
                        <div class="dropdown-menu dropdown-menu-lg-end p-0 rounded" aria-labelledby="dropdownMenuButton1" style="top:55px">
                            <form>
                                <input class="form-control border-200" type="search" placeholder="Pesquisar" aria-label="Search" style="background:#FDF1DF;" />
                            </form>
                        </div>
                    </div>
                    @if (Login == null)
                    {
                        <a class="btn btn-dark me-md-2 order-1 order-lg-0 ms-lg-3" href="/login">Entrar</a>
                    }
                    else
                    {
                        <ul class="navbar-nav">
                            <li class="dropdown">
                                <a class="btn dropdown-toggle me-md-2 order-1 order-lg-0 ms-lg-3" href="#" role="button" id="Nome-UsuarioHeader" data-bs-toggle="dropdown" aria-expanded="false">
                                    @NomeUsuario
                                </a>
                                <ul class="dropdown-menu" id="dropItens" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" id="MeuPerfilButton" href="/perfil">Meu Perfil</a></li>
                                    <li><a class="dropdown-item" id="sairButton" href="/Login/logout">Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    <form class="d-flex my-3 d-block d-lg-none">
                        <input class="form-control me-2 border-200 bg-light" type="search" placeholder="Pesquisar" aria-label="Search" />
                        <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container" id="ConteudoSite">
            <div>
                @RenderBody()
            </div>
        </div>

    </main>
        <section class="bg-900 pb-0 pt-2">

            @if (ViewBag.FooterPrecisa != false)
            {
                <section class="bg-900 pb-0 pt-5">

                    <div>
                        <ul class="nav justify-content-center pb-4">
                            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted"><b>Inicio</b></a></li>
                            <li class="nav-item"><a href="/vaga/cadastrar" class="nav-link px-2 text-muted"><b>Criar Vaga</b></a></li>
                            <li class="nav-item"><a href="/vaga" class="nav-link px-2 text-muted"><b>Eventos</b></a></li>
                            <li class="nav-item"><a href="/home/quemsomosnos" class="nav-link px-2 text-muted"><b>Sobre nós</b></a></li>
                        </ul>
                    </div>

                </section>}
            <section class="py-0 bg-1000">
                <div class="container">
                    <div class="row justify-content-md-between justify-content-evenly py-4">
                        <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                            <p class="fs--1 my-2 fw-bold text-200">Todos direitos reservados &copy; Be a Helper, @DateTime.Now.Year</p>
                        </div>
                        <div class="col-12 col-sm-8 col-md-6">
                            <p class="fs--1 my-2 text-center text-md-end text-200">
                                <b class="fw-bold text-primary">&nbsp;BE A HELPER</b>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

        </section>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/templateboot/public/vendors/popperjs/popper.min.js"></script>
    <script src="/templateboot/public/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/templateboot/public/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/templateboot/public/vendors/fontawesome/all.min.js"></script>
    <script src="/templateboot/public/assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
</body>

</html>