@{
    //Layout = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Be a Helper";
}

<div style="background-color: #2c9098; border-radius: 15px; color: white;">
    <div style="padding: 20px">
        <div style="display: flex; flex-direction: column;">
            <h4>Sobre o BeaHelper:</h4>
            <p>Aplicativo e site criado para facilitar a candidatura e aprovação de pessoa que tenham o interesse em ser voluntário.</p>
        </div>
        <div style="display: flex; flex-direction: column;">
            <h4>Quem somos nós?</h4>
            <p>Be a Helper começou pela necessidade da igreja Alcance recrutar seus voluntários, então com os integrantes Johnny Fagundes de Paula, Syrus Amadeu e Jonathan Scrok foi iniciado o desenvolvimento da aplicação para voluntários de todo Brasil.</p>
        </div>
    </div>
</div>
