@{
    //Layout = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Be a Helper";
}

<div>
    Sobre o BeaHelper: Aplicativo e site criado para facilitar a candidatura e aprovação de pessoa que tenham o interesse em ser voluntário.

    Quem somos nós?
    Be a Helper começou pela necessidade da igreja Alcance recrutar seus voluntários, então com os integrantes Johnny Fagundes de Paula, Syrus e Jonathan Scrok foi iniciado o desenvolvimento da aplicação para voluntários de todo Brasil.
</div>